/* Contenedor principal */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
    padding: 20px;
  }
 
  /* Card principal */
  .login-card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1250px;
    min-height: 700px;
    background-color: #fff;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
  }
 
 
  /* Lado izquierdo */
  .login-left {
    width: 50%;
    background-color: #ffffff;
    padding: 60px 40px;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
  }
 
 
  /* Lado derecho */
  .login-right {
    width: 50%;
    background-color: #ffffff;
    padding: 60px 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }