.main{
    background-color: rgba(241, 244, 249, 1);
}

.Container {  
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.continerInput {
  justify-content: space-between;
  display: flex;
}

.containerMesange {
    background-color: aqua;
    display: flex;
  flex-direction: column;
}

.backgraou{
  background-color: #73b806; 
}
.backgraou:hover{
  background-color: #5a9c04;
}