.IconoList{
    width: 50px;
    color: rgba(23, 185, 36, 0.705);
}

.IconoWrench{
     width: 50px;
    color: rgb(209, 128, 22);
}

.IconoClock{
     width: 50px;
    color: rgb(112, 16, 141)
}

.IconoDocument{
     width: 50px;
    color: rgb(207, 194, 15)
}

.PanelTicked{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    flex-direction: row;
}

.PanelNombre{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    flex-direction: row;
}

.container{
    background-color: aliceblue;
}

.container-abajo{
    background-color: #ffffff;
    width: 100%;
    height: 550px;
    border-radius: 1px;
}

.container-arriba {
    background-color: #ffffff;
}

img{
    margin-left: 29%;
}